.wrap {
  display: flex;
  width: 90%;
  margin: auto;
  gap: 20px;
  height: 90%;
}

.LeftSideBox {
  flex-basis: 20%;
}

.LeftSideBoxWrap {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.RightSideBox {
  flex-basis: 80%;
}

.Box {
  background-color: #212121;
  padding: 10;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.Profile {
  height: 40%;
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  display: flex;
  flex-direction: column;
}

.ProfileImgHolder {
  aspect-ratio: 1;
  background-color: #C2CBD8;
  width: 80%;
  margin: auto;
  border-radius: 25px;
  
  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.ProfileNameHolder {
  width: 40%;
  height: 1.5rem;
  margin: auto;
  border-radius: 7px;

  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

.ProfileInfo {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.InfoBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  width: 100%;
  flex-basis: auto;
}

.InfoName {
  opacity: .3;
}

.EmailBox {

}

.IconHolder {
  padding: 10px;
}

.InfoDetail {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  flex-grow: 1;
  gap: 5px;
}

.Info {
  width: 100%;
  height: 1rem;
  border-radius: 5px;
  opacity: .65;

  animation: skeleton-gradient 1.8s infinite ease-in-out;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes skeleton-gradient {
  0% {
      background-color: rgba(194, 203, 216, 0.1);
  }

  50% {
      background-color: rgba(194, 203, 216, 0.3);
  }

  100% {
      background-color: rgba(194, 203, 216, 0.1);
  }
}
