.wrap {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Container {
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutmeHolder {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* justify-content: space-around; */
    width: 80%;
    margin: auto;
}

.PointColor {
    color: var(--point-color);
}

.blink {
    animation: blink 0.5s infinite;
}
  
@keyframes blink {
to {
    opacity: 0;
}
}

.SkillContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 2rem auto;
}

.SkillBox {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)* -.5);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-top: calc(var(--bs-gutter-y)* -1);
    justify-content: center;
}

.Skill {
    font-size: 2rem;
    margin: auto;
    color: var(--point-color);
}

.SkillItem {
    border: 1.7px solid var(--point-color) !important;
    border-radius: 10px !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, .137) !important;
    font-size: 4.5em !important;
    margin: 15px !important;
    opacity: .93 !important;
    overflow: hidden !important;
    padding: 10px !important;
    text-align: center !important;
    transition: all .4s ease 0s !important;
    display: flex;
    align-items: center;
}

.SkillItem:hover {
    transform: scale(1.1);
}