.wrap {
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.AboutmeHolder {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.Blue {
    color: var(--point-color);
}